.container-card {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
}

.container-info {

        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        background-color: white;
        margin: 5px;
        width: 300px;
        border: 1px solid black;
        border-radius: 5px;
        text-align: center;
        height: 400px;
        padding: 20px;
}

.container-info img {
        width: 150px;

}


.info_button {
        color: black;
        text-decoration: none;
        background-color: black;
        margin-top: 15px;
}

Link:visited {
        color: black;
}

