footer {
    background-color: #eeeeee;
    border-top: black 3px solid; 
    height: 75px;
    width: 100vw;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
}