.pagination {
    display: flex;
   
}

.pagination a {
    margin: 10px;
  
    text-decoration: none;
    color: black;
    font-size: 20px;

}

.pagination li {
    list-style: none;
    margin-bottom: 10px;
}